body {
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  background-color: black;
  color: white;
  margin: 0;
  text-align: center;
}

h1 {
  font-weight: 100;
  font-size: 1.5in;
}

h2 {
  font-weight: 500;
  font-size: 0.5in;
}

.top-widget {
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 35px;
  font-size: .25in;
}

.appbar {
  margin-top: 35px;
  font-size: .25in;
}

.fa-twitter {
  font-size: .25in;
}